@using LibraryProject.Application.Interfaces
@using LibraryProject.Presentation.Web.Auth
@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Antiforgery
@inject IHttpContextAccessor HttpContextAccessor
@inject IAntiforgery Antiforgery
@inject ICurrentUserContext CurrentUser

<div class="app">
    <header class="app__topbar">
        <NavMenu />
    </header>

    <main class="app__content">
        @Body
    </main>
</div>

@code {
    private string AntiForgeryToken = "";

    protected override void OnInitialized()
    {
        HttpContext? http = HttpContextAccessor.HttpContext;
        if (http is not null)
        {
            AntiForgeryToken = Antiforgery.GetAndStoreTokens(http).RequestToken ?? "";
        }
    }
}