@page "/error"
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]

<h2>Zugriff verweigert</h2>
<p>Sie haben keine Berechtigung, um diese Seite zu sehen.</p>

<a href="/">Zurück zum Dashboard</a>